.profile {
    height: 100vh; /* Chiều cao toàn bộ viewport */
    background-image: linear-gradient(#0000007e, #0000007e), url(/background_banner.jpg); /* Hình nền với gradient */
    padding: 100px 10%; /* Padding cho trang */
    display: flex; /* Sử dụng flexbox để căn giữa nội dung */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.update_form {
    width: 100%;
    max-width: 450px; /* Chiều rộng tối đa của form */
    background: rgba(0, 0, 0, 0.75); /* Nền trong suốt */
    border-radius: 5px; /* Bo tròn góc */
    padding: 40px; /* Padding cho form */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Đổ bóng cho form */
}

.update_form h1 {
    font-size: 32px; /* Kích thước chữ tiêu đề */
    font-weight: 500; /* Độ đậm của chữ */
    margin-bottom: 28px; /* Khoảng cách dưới tiêu đề */
    color: white; /* Màu chữ */
    text-align: center; /* Căn giữa chữ */
}

.update_form input {
    width: 100%; /* Chiều rộng 100% */
    height: 50px; /* Chiều cao của input */
    background: #333; /* Nền tối cho input */
    color: white; /* Màu chữ trắng */
    margin: 12px 0; /* Khoảng cách trên và dưới */
    border: 0; /* Không viền */
    outline: 0; /* Không viền khi focus */
    border-radius: 5px; /* Bo tròn góc */
    padding: 16px 20px; /* Padding cho input */
    font-size: 16px; /* Kích thước chữ trong input */
    font-weight: 500; /* Độ đậm của chữ trong input */
}

.update_form button {
    width: 100%; /* Chiều rộng 100% */
    border: 0; /* Không viền */
    outline: 0; /* Không viền khi focus */
    padding: 16px; /* Padding cho nút */
    background: #CB9DF0; /* Màu nền cho nút */
    color: white; /* Màu chữ trắng */
    border-radius: 5px; /* Bo tròn góc */
    font-size: 16px; /* Kích thước chữ trong nút */
    font-weight: 500; /* Độ đậm của chữ trong nút */
    margin-top: 20px; /* Khoảng cách trên nút */
    cursor: pointer; /* Con trỏ chuột khi hover */
    transition: background 0.3s; /* Hiệu ứng chuyển màu nền */
}

.update_form button:hover {
    background: #a06ab3; /* Màu nền khi hover */
}