

.title-cards {
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title-cards h2 {
    text-align:left;
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
    color: #ede8e8;
  }
  .card-list .card h3{
    text-decoration:none;
  }
  
  .card-list {
    position: relative;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: auto;

  }
  
  .card h3 {
    margin: 10px 0;
    font-size: 16px;
    color: #dbdbdb;
    text-align: center;
    padding: 0 10px;
  }
  button-group {
    display: flex; /* Sử dụng Flexbox để căn chỉnh các nút */
    justify-content: space-between; /* Căn giữa các nút */
    width: 100%; /* Đặt chiều rộng của nhóm nút bằng 100% */
    margin-top: 10px; /* Khoảng cách trên nhóm nút */
  }
  
  button {
    background-color: transparent; /* Nền trong suốt cho nút */
    color: white; /* Chữ nút trắng */
    border: 1px solid white; /* Đường viền trắng */
    border-radius: 5px; /* Bo góc cho nút */
    padding: 5px 5px; /* Thêm khoảng cách bên trong nút */
    cursor: pointer; /* Con trỏ chuột khi hover */
    margin-right: 5px; /* Khoảng cách giữa các nút */
  }
  
  .play-button {
    background-color: green; /* Nền xanh cho nút Play */
    color: white; /* Chữ nút Play trắng */
  }
  
  button:hover {
    background-color: white; /* Nền trắng khi hover */
    color: black; /* Chữ đen khi hover */
  }
  
  .play-button:hover {
    background-color: lightgreen; /* Nền sáng hơn khi hover */
  }